@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  background: #252525;
  justify-content: center;
}

main {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px 0;
}

ul {
  list-style-type: none;
  padding: 12px;
  color: #fff;
  overflow: auto;
}

li {
  padding: 10px;
  border-bottom: 1px solid rgb(109, 109, 109);
}

.text:focus {
  outline: none;
}

.text::placeholder {
  color: black;
}

.text {
  padding: 12px;
  border-radius: 8px;
  background: #cf8524;
  border: none;
  margin-bottom: 10px;
}

.modal-title {
  color: black;
}

h1 {
  color: white;
}
