@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* Chat */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background: #252525;
  display: flex;
  justify-content: center;
}

main {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 12px 0;
}

/* Header */

#title {
  padding-top: 10px;
}

/* Header (for alerts) */

#info {
  display: flex;
  flex-direction: column;
}

/* Messages */

#messages {
  height: 100vh;
  overflow: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

ul {
  list-style-type: none;
  padding: 0px;
  font-size: 20px;
  color: #fff;
}

li {
  padding: 10px;
  margin: 10px;
  border: 1px solid rgb(109, 109, 109);
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Message input */

.text {
  width: 45%;
  padding: 20px;
  border-radius: 8px 0 0 8px;
  background: #c0730e;
  color: white;
  border: none;
  margin: 0 0 20px 20%;
  box-shadow: 0 3px #c0c0c0;
}

.text::placeholder {
  color: rgba(255, 255, 255, 0.253);
}

.text:focus {
  outline: none;
}

#text-box {
  display: flex;
}

/* Send button */

#send {
  width: 15%;
  border-radius: 0 8px 8px 0;
  margin-bottom: 20px;
  background: #1165aa;
  border: none;
  box-shadow: 0 3px #c0c0c0;
  transition: 0.5s;
}

#send:hover {
  transition: 0.5s;
  text-shadow: 0 0 20px white;
}

/* Black and white */

.modal-content,
#email,
#password,
.modal-body {
  background: #252525;
}

.modal-title,
label,
#error,
#email,
#password,
h1,
.badge {
  color: white !important;
}
